@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: none;
    border: none;
    list-style: none;
}

header {
    background: #F5F5F5;
    height: 70px;
    padding: 0 118px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    color: #000000;
}

header nav {
    width: 346px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #828282;
    display: inline;
}

.selected {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #333333;
}